.tab-control {
    display: flex;
}

.tab-item {
    flex: 1;
    text-align: center;
    height: 44px;
    line-height: 44px;
}

.tab-item span {
    padding: 5px 8px;
}

.tab-item.active {
    color: red;
}

.tab-item.active span {
    border-bottom: 3px solid red;
}
